
h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

/* Important Map CSS */

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* End Map CSS */

label {
    margin: .3em;
}

#title {
    color: #1e73bc;
    text-align: center;
}

#back {
    text-align: center;
    margin-bottom: .5em;
}

form {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    text-align: center;
}

.post-form {
    padding: 2.75em;
    border-radius: .5em;
    background-color: #c5e4ff;
}

.post-form ul, .post-form label {
    text-align: center;
    vertical-align: middle;
}

.post-form li {
    text-decoration: none;
    display: inline-block;
    margin: .25em;
}

.post-form button {
    margin: .25em;
    display: inline-block;
}

.add-row, .delete-row {
    font-weight: normal;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #cccccc;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff;
    transition: background-color 2ms ease-out, border-color 2ms ease-out;
    display: inline-block;
    margin: .25em;
}

.add-row:hover, .delete-row:hover {
    color: #000000;
    background-color: #e6e6e6;
    border-color: #adadad;
}
