
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, input {
    font-family: "Circular Std", sans-serif;
}

label {
    margin: .3em;
}

#map {
    height: 100%;
}

#title {
    color: #1e73bc;
    text-align: center;
}