

h1, h2, h3, h4, h5, h6, p {
    font-family: "Circular Std", sans-serif;
}

#title {
    color: #1e73bc;
}



/* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}