{% extends 'main/layout.html' %}

{% block content %}

    <div class="col-md-12 col-xs-12">
        <h4>Path Hero helps you find the fastest way through your classrooms at JHU. Get started by selecting your
            origin
            <br>and destination!</h4><br><br>

        <form method="POST" class="post-form">
            <h3 id="title">Path Finder</h3>
            {% csrf_token %}
            {{ form.as_ul }}
            <br>
            {% for mid_form in mid_formset %}
                <li class="mid-input"><label>Stop:</label> {{ mid_form.mid }}</li>
            {% endfor %}
            {{ mid_formset.management_form }}
            <button type="submit" class="save btn btn-default">Find My Path</button>
        </form>
    </div>



    <script>
        $('.mid-input').formset({
            addText: 'Add Stop',
            deleteText: 'Remove'
        });
    </script>

    <div id="map"></div>

{% endblock %}


{% block maps_scripts %}
    <!-- Hide index map for now -->
    <!--
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 39.329103, lng: -76.618540},
                zoom: 17
            });
        }

        /* Responsive Maps */
        google.maps.event.addDomListener(window, 'load', initMap);
        google.maps.event.addDomListener(window, 'resize', function () {
            var c = map.getCenter();
            google.maps.event.trigger(this.map, 'resize');
            map.setCenter(c);
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_KEY }}&callback=initMap"
            async defer></script>
    -->
{% endblock %}