{% extends 'main/layout.html' %}

{% block content %}

    <h1 id="title">Path Hero</h1>

    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit" class="save btn btn-default">Find My Path</button>
    </form>

    <div id="map"></div>
{% endblock %}

{% block maps_scripts %}
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 39.329103, lng: -76.618540},
                zoom: 17
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_KEY }}&callback=initMap"
            async defer></script>
{% endblock %}
