{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Path Hero</title>
    <link rel="stylesheet" type="text/css" href="{% static "main/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main/style.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
{% block maps_scripts %}
{% endblock %}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '606421342877960',
            xfbml: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</html>